<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPRAS</title>
    <script src="https://kit.fontawesome.com/12b9454c70.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilos/style.css">
    <link rel="shortcut icon" href="imagenes/vinylico-sinfondo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }
    </style>
</head>

<body>

    <nav>
        <ul>
            <a href="index.html"><img src="imagenes/LOGO_Grande_Transparente.png" alt="" id="logo"></a>
            <li><a href="index.html">Nosotros</a></li>
            <li><a href="producto.html">Productos</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="contacto.html">Contacto</a></li>

        </ul>

    </nav>
    <main>
        
            <br>
            <div>
<h1 style="font-family: Bruno Ace SC;">COMPRAS</h1></div>
<div id="app" class="container">
            <section v-if="error">Lo sentimos se produjo un error</section>
            <section v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>


                </section>
                <section v-else>
                
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr id="colum">
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col" id="direcc">Dirección</th>
                                    <th scope="col" id="acc">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="producto in productos" class="">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.cantidad}}</td>
                                    <td>{{producto.direccion}}</td>

                                    <td>
                                        <button type="button" id="elimi" class="btn btn-danger"
                                            v-on:click="eliminar(producto.id)">Eliminar</button>

                                        <a class="btn btn-primary"
                                            :href="'editar_compra.html?id='+ producto.id+'&nombre=' +producto.nombre+ '&cantidad='+producto.cantidad+'direccion='+producto.direccion"><button
                                                id="edi">Editar</button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
    

    </main> <br>
    <footer>
        <a href="index.html" target="_blank">Volver al Inicio</a>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="js/compras.js"></script>
</body>

</html>