<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header id="header">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app" class="container">
            <br>
            <h1>Compras</h1>
            
            <a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>

            <section v-if="error">Lo sentimos se produjo un error</section>
            <section v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>

                </section>
                <section v-else>
                    
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="producto in productos" class="">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.cantidad}}</td>
                                    <td>{{producto.direccion}}</td>
                                    
                                    <td>
                                        <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)"    >Eliminar</button>
                                        
                                        <a class="btn btn-primary" :href="'producto_editar.html?id='+ producto.id+'&nombre=' +producto.nombre+ '&precio='+producto.precio+'&stock='+producto.stock +  '&imagen='+producto.imagen" >Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="./js/main.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="./js/compras.js"></script>
</body>

</html>